body {
    background: #DFDFDF;
    height: 100%;
    margin: 0;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;}

h1 {

    font-size: 6vh;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

h2 {

    font-size: 6vh;
    text-align: right;
    margin-right: 5%;
}

h3 {

    font-size: 2.5vh;
    margin-left: 5%;
}

hr {
    border: 0px;
    height: 5px;
    color: #FF5733;
    background-color: #FF5733;
}

a.link1:link,
a.link1:visited,
a.link1:active {
    text-decoration: none;
    color: white;
    letter-spacing: .04em;
}

a.link1:hover,
a.link1:focus {
    text-decoration: line-through;
    color: #FF5733;
    letter-spacing: .04em;
}

a.link2:link,
a.link2:visited,
a.link2:active {
    text-decoration: none;
    color: white;
    letter-spacing: .04em;
}


.menu {
    text-align: left;

}

.item1 {
    grid-area: header;
    margin-left: 5%;

}

.item2 {
    grid-area: main;
    margin-left: 5%;

}

.item3 {
    grid-area: footer;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}


.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'main main main main main main'
        'footer footer footer footer footer footer';
    grid-template-columns: 20% 10% 20%;
    grid-gap: 5px;
    padding: 20px;
}

.grid-container>header {
    text-align: right;
    padding: 20px 20px;
}

.grid-container>main {
    padding: 20px 20px;

}

.grid-container>footer {
    padding: 20px 20px;

}